<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <div class="navbar-toggle d-inline">
                <button type="button" class="navbar-toggler">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
            </div>
            <a class="navbar-brand text-center" href="javascript:void(0)">Quality-Aware</br>Data Preparation</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
        </button>
        <div class="collapse navbar-collapse" id="navigation">
            <ul class="navbar-nav ml-auto">
                <li class="search-bar input-group">
                    <div class="fixed-plugin">
                        <div class="dropdown show-dropdown">
                            <a href="#" data-toggle="dropdown">
                                <i class="fa fa-cog fa-2x"> </i>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header-title"> Sidebar Background</li>
                                <li class="adjustments-line">
                                    <a href="javascript:void(0)" class="switch-trigger background-color">
                                        <div class="badge-colors text-center">
                                            <span class="badge filter badge-primary active" data-color="primary"></span>
                                            <span class="badge filter badge-info" data-color="blue"></span>
                                            <span class="badge filter badge-success" data-color="green"></span>
                                        </div>
                                        <div class="clearfix"></div>
                                    </a>
                                </li>
                                <li class="adjustments-line text-center color-change">
                                    <span class="color-label">LIGHT MODE</span>
                                    <span class="badge light-badge ml-2"></span>
                                    <span class="badge dark-badge mr-2"></span>
                                    <span class="color-label">DARK MODE</span>
                                </li>
                                <li></li>

                            </ul>
                        </div>
                    </div>
                </li>
                <!-- <li class="input-group d-flex align-items-center mb-0">
                    <label class="switch theme-switch">
                        <input type="checkbox" class="bsc" checked="">
                        <span class="slider"></span>
                    </label>
                </li> -->

                <li class="separator d-lg-none"></li>
            </ul>
        </div>
    </div>
</nav>
<div class="modal modal-search fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="SEARCH">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="tim-icons icon-simple-remove"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<!-- End Navbar -->
