div.css-zbg2rx.e1fqkh3o1 {
    background-color: #8e9aaf;
}

div.css-sygy1k.e1fqkh3o1 {
    background-color: #ff0a54;
}

div.css-1xarl3l.e16fv1kl1 {
    background-color: #eeeeee;
    border: 1px solid red;
    padding: 20px 20px 20px 70px;
    padding: 5% 5% 5% 10%;
    border-radius: 10px;
}