import streamlit as st
import pandas as pd
import numpy as np
from pages.data_uploading import uploading_csv
from pandas_profiling import ProfileReport
import seaborn as sns
import matplotlib.pyplot as plt
from tqdm import tqdm
import json
import re
import time
import statistics
