{% block stylesheets %}
<style>
  .decimal-format::after {
    content: attr(data-decimals);
    display: none;
  }

  .decimal-format::before {
    content: " ";
    white-space: pre;
  }

  .decimal-format:after {
    content: "." attr(data-decimals);
  }

  /* Example usage */
  .decimal-format {
    /* Specify the number of decimal places using the "data-decimals" attribute */
    /* This value will be used by the ::after pseudo-element to format the number of decimal places */
    /* For example, "data-decimals='2'" will display the number with two decimal places */
    /* To display the original number without formatting, simply omit the "data-decimals" attribute */

    font-weight: bold;
  }
</style>
{% endblock stylesheets %}

{% block content %}

<div class="card-header">
  <h3 class="card-title"></i>{{var}}</h3>
  <h5 class="card-category">{{profile.variables[var].type}}</h5>
  <p>
</div>



<div class="row">



  <div class="col-3">
    <div class="table-responsive">
      <table class="table tablesorter " id="">

        <tbody>




          <tr>
            <td>Distinct</td>
            <td>{{profile.variables[var].n_distinct}}</td>
          </tr>
          <tr>
            <td>Missing</td>
            <td>{{profile.variables[var].n_missing}}</td>
          </tr>
          <tr>
            <td>Unique</td>
            <td>{{profile.variables[var].n_unique}}</td>
          </tr>
          <tr>
            <td>Maximum Number of Characters</td>
            <td>{{profile.variables[var].max_length}}</td>
          </tr>
          <tr>
            <td>Minumum Number of Characters</td>
            <td>{{profile.variables[var].min_length}}</td>
          </tr>
          <tr>
            <td>Total Number of Characters</td>
            <td>{{profile.variables[var].n_characters}}</td>
          </tr>

        </tbody>

      </table>
    </div>
  </div>

  <div class="col-3">
    <div class="table-responsive">
      <table class="table tablesorter " id="">
        <tbody>

          <tr>
            <td>Distinct(%)</td>
            <td>{{profile.variables[var].p_distinct|json_round}}%</td>
          </tr>
          <tr>
            <td>Missing(%)</td>
            <td>{{profile.variables[var].p_missing|json_round}}%</td>
          </tr>
          <tr>
            <td>Unique(%)</td>
            <td>{{profile.variables[var].p_unique|json_round}}</td>
          </tr>
          <tr>
            <td>Mean of Number of Characters</td>
            <td>{{profile.variables[var].mean_length|json_round}}</td>
          </tr>
          <tr>
            <td>Median of Number of Characters</td>
            <td>{{profile.variables[var].median_length|json_round}}</td>
          </tr>
          <tr>
            <td>Number of Distinct Characters</td>
            <td>{{profile.variables[var].n_characters_distinct|json_round}}</td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>

  <div class="col-6">
    <div class="row">
      <div class="col-lg ml-auto mr-auto">
        <div class="float-right">
          {% include distrCAT_html_list[count_cat.value] %}
        </div>
        
      </div>

    </div>




  </div>




</div>




{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}