<style>
  .vl {
    border-left: 1px solid grey;
    height: auto;
  }
</style>

{% block content %}
{% set counter_5 = namespace(value=6) %}


<div id="accordion" role="tablist" aria-multiselectable="true" class="card-collapse">
  <div class="card card-plain">
    <div class="card-header" role="tab" id="headingOne">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-controls="collapseOne" color="pink">
        <b>More Details</b>

        <i class="tim-icons icon-minimal-down"></i>
      </a>
    </div>

    <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">

      

        <div class="card-body">
          <ul class="nav nav-pills nav-pills-primary">


            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#common{{var}}">
                Common values
              </a>
            </li>&nbsp;&nbsp;
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#extreme{{var}}">
                Extreme values
              </a>
            </li>


          </ul>


          <div class="tab-content tab-space">
            <div class="tab-pane" id="common{{var}}">

              <div class="row">

                <div class="col-6">
                  <div class="table-responsive">
                    <table class="table tablesorter " id="">
                      <thead class=" text-primary">
                        <tr>
                          <th>
                            Most Common Values
                          </th>
                          <th>
                            Count
                          </th>
                          <th>
                            Frequency
                          </th>

                        </tr>
                      </thead>

                      <tbody>

                        {% for variable, info in profile['variables'].items() %}
                        {% if var==variable %}

                        {% for val, count in info['value_counts_without_nan'].items() %}
                        {% if loop.index < counter_5.value %} {% set freq=count / profile.variables[var].n *
                          100|json_round %} <tr>
                          <td>
                            {{ val }}
                          </td>
                          <td>
                            {{ count }}
                          </td>
                          <td>
                            {{ freq|round(2) }}%
                          </td>
                          </tr>

                          {% endif %}
                          {% endfor %}


                          {% endif %}
                          {% endfor %}


                      </tbody>
                    </table>
                  </div>
                </div>

                <div class="col-6">
                  <div class="table-responsive">
                    <table class="table tablesorter " id="">
                      <thead class=" text-primary">
                        <tr>
                          <th>
                            Least Common Values
                          </th>
                          <th>
                            Count
                          </th>
                          <th>
                            Frequency
                          </th>

                        </tr>
                      </thead>

                      <tbody>

                        {% for variable, info in profile['variables'].items() %}
                        {% if var==variable %}

                        {% for val, count in info['value_counts_without_nan'].items()|reverse %}
                        {% if loop.index < counter_5.value %} {% set freq=count / profile.variables[var].n *
                          100|json_round %} <tr>
                          <td>
                            {{ val }}
                          </td>
                          <td>
                            {{ count }}
                          </td>
                          <td>
                            {{ freq|round(2) }}%
                          </td>
                          </tr>

                          {% endif %}
                          {% endfor %}


                          {% endif %}
                          {% endfor %}


                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="extreme{{var}}">
              <div class="row">
                <div class="col-6">
                  <div class="table-responsive">
                    <table class="table tablesorter " id="">
                      <thead class=" text-primary">
                        <tr>
                          <th>
                            Lowest Values
                          </th>
                          <th>
                            Count
                          </th>
                          <th>
                            Frequency
                          </th>

                        </tr>
                      </thead>

                      <tbody>

                        {% for variable, info in profile['variables'].items() %}
                        {% if var==variable %}

                        {% for val, count in info['value_counts_index_sorted'].items() %}
                        {% if loop.index < counter_5.value %} {% set freq=count / profile.variables[var].n *
                          100|json_round %} <tr>
                          <td>
                            {{ val }}
                          </td>
                          <td>
                            {{ count }}
                          </td>
                          <td>
                            {{ freq|round(2) }}%
                          </td>
                          </tr>

                          {% endif %}
                          {% endfor %}


                          {% endif %}
                          {% endfor %}


                      </tbody>
                    </table>
                  </div>
                </div>

                <div class="col-6">
                  <div class="table-responsive">
                    <table class="table tablesorter " id="">
                      <thead class=" text-primary">
                        <tr>
                          <th>
                            Highest Values
                          </th>
                          <th>
                            Count
                          </th>
                          <th>
                            Frequency
                          </th>

                        </tr>
                      </thead>

                      <tbody>

                        {% for variable, info in profile['variables'].items() %}
                        {% if var==variable %}

                        {% for val, count in info['value_counts_index_sorted'].items()|reverse %}
                        {% if loop.index < counter_5.value %} {% set freq=count / profile.variables[var].n *
                          100|json_round %} <tr>
                          <td>
                            {{ val }}
                          </td>
                          <td>
                            {{ count }}
                          </td>
                          <td>
                            {{ freq|round(2) }}%
                          </td>
                          </tr>

                          {% endif %}
                          {% endfor %}


                          {% endif %}
                          {% endfor %}


                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      
    </div>
  </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}